body {
    background-color: #242424;
    color: white;
}

.button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    border-radius: 8px;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

.button:hover {
    border-color: #353bf2;
}

.cssinput {
    padding: 0.6em 1.2em;
    font-size: 1em;
    border-radius: 8px;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

.cssinput:hover {
    border-color: #353bf2;
}

#nextQuestion {
    margin-left: 5px;
}